.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.checkout-item h2 {
  display: inline-block;
  margin: 0 0 0.5rem 0;
  color: #363636;
  font-size: 1.2rem;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
