.checkout-form {
  border-top: 1px solid black;
  padding: 1rem;
}

.checkout-form label {
  display: block;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.actions .button:disabled {
  background-color: lightgray;
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.input-error {
  background-color: bisque;
  border-color: #ff8800;
}

.input-error:focus {
  background-color: red;
}

.error-text {
  color: red;
}
